.block-about-us.g-screen-with-paddings 
  .block-about-us__content
    if aboutUsTitle
      .block-about-us__subtitle.block-subtitle #{aboutUsTitle}
    else 
      .block-about-us__subtitle.block-subtitle About us
    .block-about-us__text1 North Development offers a portfolio of properties strategically selected for their exceptional location, timeless appeal, and enduring relevance.
    .block-about-us__text2 The firm’s industry-leading, multidisciplinary team combines specialized knowledge and experience in construction, brand creation, project management, operations, and marketing to develop consistently exceptional residential spaces across the country.
    .block-about-us__item
    .block-about-us__item
      .block-about-us__item-title.block-subtitle SALES
      .block-about-us__item-value $4B+
      .block-about-us__item-subtitle Combined Sales USA, Brazil, and Peru
    .block-about-us__item
      .block-about-us__item-title.block-subtitle DEVELOPMENT
      .block-about-us__item-value 108
      .block-about-us__item-subtitle Combined Projects in USA, Brazil, and Peru
    .block-about-us__item
      .block-about-us__item-title.block-subtitle EXPERIENCE
      .block-about-us__item-value 50+
      .block-about-us__item-subtitle Years of Combined Experience
    .block-about-us__button
      button(type="button").dashed-button
        span Explore the firm 
        <svg xmlns="http://www.w3.org/2000/svg" width="16.563" height="16.563" viewBox="0 0 16.563 16.563">
          <path id="Icon_ionic-md-arrow-back" data-name="Icon ionic-md-arrow-back" d="M17.688,11.1H8.795l4.1-4.1L11.833,5.977,5.977,11.833l5.856,5.856,1.025-1.025-4.062-4.1h8.894Z" transform="translate(25.015 8.281) rotate(135)" fill="#f4f3ec"/>
        </svg>