// Повторювальний блок контактів
.contact-screen.g-screen-with-paddings(id="contacts")
  .contact-screen__content
    .contact-screen__text
      //- .contact-screen__title.g-title contact
      .contact-screen__title2.text-uppercase CONTACT US
    .form
      .contact-screen__form-title Please leave your contact details and we will get back to you as soon as possible.
      form(data-contact-screen-form)
        .input-group.input-group--large(data-field-input data-field-name data-status="field--inactive")
          input(autocomplete="off" type="text" name="name" placeholder="First name")
          .input-message(data-input-message)
        .input-group
          input(autocomplete="off" type="text" name="last_name" placeholder="Last name")
        .input-group 
          input(autocomplete="off" type="text" inputmode="email" name="email" placeholder="Email")
        .input-group(data-field-input data-field-phone data-status="field--inactive")
          input(autocomplete="off" inputmode="tel" type="tel" name="phone" placeholder="Phone number")
          .input-message(data-input-message)
        .input-group 
          input(autocomplete="off" type="text" name="city" placeholder="City")
        .input-group 
          input(autocomplete="off" type="text" name="hear_from" placeholder="How did you hear about us?")
        .input-group 
          input(autocomplete="off" type="text" name="message" placeholder="Message")
        button(type="submit" data-btn-submit) 
          span SUBMIT
          span(data-btn-submit-text)
    .contact-screen__bottom
      <svg id="Сгруппировать_16632" data-name="Сгруппировать 16632" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="261.545" height="35.089" viewBox="0 0 261.545 35.089">
        <defs>
          <clipPath id="clip-path">
            <rect id="Прямоугольник_1790" data-name="Прямоугольник 1790" width="261.545" height="35.089" fill="#f4f3ec"/>
          </clipPath>
        </defs>
        <path id="Контур_154" data-name="Контур 154" d="M369,.813V15.578L363.116.813h-5.093V15.875h2.556V1.11l5.886,14.765h5.093V.813Z" transform="translate(-253.335 -0.575)" fill="#f4f3ec"/>
        <g id="Сгруппировать_16611" data-name="Сгруппировать 16611">
          <g id="Сгруппировать_16610" data-name="Сгруппировать 16610" clip-path="url(#clip-path)">
            <path id="Контур_155" data-name="Контур 155" d="M412.31,7.769c0-4.677,3.012-7.769,7.353-7.769s7.352,3.091,7.352,7.769-3.012,7.769-7.352,7.769-7.353-3.092-7.353-7.769m12.049,0c0-3.389-1.882-5.688-4.7-5.688s-4.7,2.3-4.7,5.688,1.883,5.688,4.7,5.688,4.7-2.3,4.7-5.688" transform="translate(-291.749)" fill="#f4f3ec"/>
            <path id="Контур_156" data-name="Контур 156" d="M479.792,15.876,476.344,9.99h-3.191v5.886H470.6V.814h5.767c3.469,0,5.649,1.8,5.649,4.6a4.24,4.24,0,0,1-3.052,4.182l3.786,6.283ZM473.153,3.013v4.8h3.27c1.843,0,2.953-.872,2.953-2.4s-1.109-2.4-2.953-2.4Z" transform="translate(-332.992 -0.576)" fill="#f4f3ec"/>
            <path id="Контур_157" data-name="Контур 157" d="M525.942.813v2.2h-4.856V15.875H518.53V3.013h-4.856V.813Z" transform="translate(-363.474 -0.575)" fill="#f4f3ec"/>
            <path id="Контур_158" data-name="Контур 158" d="M571.121.813h2.556V15.875h-2.556v-6.6h-7.135v6.6H561.43V.813h2.557V7h7.135Z" transform="translate(-397.265 -0.575)" fill="#f4f3ec"/>
            <path id="Контур_159" data-name="Контур 159" d="M363.373,67.676c4.518,0,7.55,2.537,7.55,7.531,0,4.975-3.032,7.531-7.55,7.531h-5.351V67.676Zm.059,12.862c3.072,0,4.856-1.883,4.856-5.331,0-3.428-1.783-5.331-4.856-5.331h-2.854V80.538Z" transform="translate(-253.335 -47.887)" fill="#f4f3ec"/>
            <path id="Контур_160" data-name="Контур 160" d="M412.623,80.539h7.709v2.2H410.066V67.676h10.088v2.2h-7.531V73.9h7.393v2.2h-7.393Z" transform="translate(-290.161 -47.887)" fill="#f4f3ec"/>
            <path id="Контур_161" data-name="Контур 161" d="M460.96,67.677h2.775l-4.855,15.062h-5.034L448.97,67.677h2.794l4.6,14.744Z" transform="translate(-317.689 -47.888)" fill="#f4f3ec"/>
            <path id="Контур_162" data-name="Контур 162" d="M507.265,80.539h7.709v2.2H504.708V67.676H514.8v2.2h-7.531V73.9h7.393v2.2h-7.393Z" transform="translate(-357.129 -47.887)" fill="#f4f3ec"/>
            <path id="Контур_163" data-name="Контур 163" d="M550.621,80.539h6.718v2.2h-9.275V67.676h2.557Z" transform="translate(-387.808 -47.887)" fill="#f4f3ec"/>
            <path id="Контур_164" data-name="Контур 164" d="M581.485,74.633c0-4.677,3.012-7.769,7.352-7.769s7.353,3.091,7.353,7.769-3.012,7.769-7.353,7.769-7.352-3.092-7.352-7.769m12.049,0c0-3.389-1.883-5.688-4.7-5.688s-4.7,2.3-4.7,5.688,1.882,5.688,4.7,5.688,4.7-2.3,4.7-5.688" transform="translate(-411.456 -47.313)" fill="#f4f3ec"/>
            <path id="Контур_165" data-name="Контур 165" d="M645.519,67.677c3.746,0,5.925,1.763,5.925,4.816s-2.18,4.816-5.925,4.816h-3.191v5.43h-2.557V67.677Zm.059,7.451c2.081,0,3.211-.892,3.211-2.636s-1.13-2.616-3.211-2.616h-3.25v5.252Z" transform="translate(-452.699 -47.888)" fill="#f4f3ec"/>
            <path id="Контур_166" data-name="Контур 166" d="M703.582,82.739h-2.557V67.974l-3.885,14.764h-4.856L688.4,67.974V82.739h-2.556V67.677H690.9l3.825,14.785,3.805-14.785h5.054Z" transform="translate(-485.301 -47.888)" fill="#f4f3ec"/>
            <path id="Контур_167" data-name="Контур 167" d="M759.586,80.539h7.71v2.2H757.03V67.676h10.087v2.2h-7.531V73.9h7.393v2.2h-7.393Z" transform="translate(-535.671 -47.887)" fill="#f4f3ec"/>
            <path id="Контур_168" data-name="Контур 168" d="M811.365,67.677h2.557V82.739h-5.093l-5.886-14.764V82.739h-2.557V67.677h5.093l5.886,14.764Z" transform="translate(-566.349 -47.888)" fill="#f4f3ec"/>
            <path id="Контур_169" data-name="Контур 169" d="M864.779,67.677v2.2h-4.856V82.739h-2.557V69.876h-4.855v-2.2Z" transform="translate(-603.233 -47.888)" fill="#f4f3ec"/>
            <path id="Контур_170" data-name="Контур 170" d="M29.113.813H0V35.426H64.544Z" transform="translate(0 -0.575)" fill="#f4f3ec"/>
            <rect id="Прямоугольник_1789" data-name="Прямоугольник 1789" width="28.411" height="34.613" transform="translate(64.544 0.238)" fill="#f4f3ec"/>
          </g>
        </g>
      </svg>
      .contact-screen__social-list
        a(target='_blank' href="https://www.facebook.com/domusflats/").social-link FACEBOOK
        a(target='_blank' href="https://www.instagram.com/domusflats/").social-link INSTAGRAM
        a(target='_blank' href="https://www.linkedin.com/company/north-development/").social-link LINKEDIN
        a(target='_blank' href="https://www.youtube.com/@DomusFlats").social-link YOUTUBE