
extends ../layout/main
block variable
  -
    var title_page = 'approach'
    var id_page = 'id-page-approach'
    var class_page = 'class-page-approach'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  .inner-screen-1
  .approach.g-screen-with-paddings
    .approach__content
      .approach__group.approach__group--first.active
        .block-subtitle Approach
        .approach__line
        .approach__group-title.approach__text-big North Development brings a wide range of specialized experience and expertise, from brand creation to construction. 
        button(type="button").dashed-button
          span Export the firm
          <svg xmlns="http://www.w3.org/2000/svg" width="16.563" height="16.563" viewBox="0 0 16.563 16.563">
            <path id="Icon_ionic-md-arrow-back" data-name="Icon ionic-md-arrow-back" d="M17.688,11.1H8.795l4.1-4.1L11.833,5.977,5.977,11.833l5.856,5.856,1.025-1.025-4.062-4.1h8.894Z" transform="translate(25.015 8.281) rotate(135)" fill="#f4f3ec"/>
          </svg>
      .approach__group
        .block-subtitle DEVELOPMENT STRATEGIES
        .approach__line
        .approach__group-title.approach__text Our industry-leading team constructs, develops, and creates branded identities for attainable luxury residences in among the world’s most sought-after cities, which allows residents unique access to otherwise cost-prohibitive locations. 
        button(type="button").dashed-button
          span Export the team
          <svg xmlns="http://www.w3.org/2000/svg" width="16.563" height="16.563" viewBox="0 0 16.563 16.563">
            <path id="Icon_ionic-md-arrow-back" data-name="Icon ionic-md-arrow-back" d="M17.688,11.1H8.795l4.1-4.1L11.833,5.977,5.977,11.833l5.856,5.856,1.025-1.025-4.062-4.1h8.894Z" transform="translate(25.015 8.281) rotate(135)" fill="#f4f3ec"/>
          </svg>
      .approach__group.approach__group.approach__group--last
        .block-subtitle MANAGEMENT
        .approach__line
        .approach__group-title.approach__text North Management was created by North Development specifically to uphold its portfolio of properties to the highest standards of service, design, and operational excellence while protecting brand integrity. North Management leverages multiple decades of leadership expertise in luxury hospitality to build top-tier teams who consistently oversee, refine, and evolve every element of the residential experience across North Development’s robust portfolio.
        button(type="button").dashed-button
          span Visit North Management
          <svg xmlns="http://www.w3.org/2000/svg" width="16.563" height="16.563" viewBox="0 0 16.563 16.563">
            <path id="Icon_ionic-md-arrow-back" data-name="Icon ionic-md-arrow-back" d="M17.688,11.1H8.795l4.1-4.1L11.833,5.977,5.977,11.833l5.856,5.856,1.025-1.025-4.062-4.1h8.894Z" transform="translate(25.015 8.281) rotate(135)" fill="#f4f3ec"/>
          </svg>
  include ../includes/contact-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
